/*header*/
.TituloPrincipal {
  font-size: 4em;
  color: white;
  align-self: flex-start;
}

#volume {
  margin-top: 50px;
}

input[type="text"] {
  width: 30vw;
  margin: 5px;
  padding: 5px;
  outline: none;
  color: white;
  background-color: #2220;
  border-bottom: 2px solid white;
  transition: ease-in-out 1s;
}

input[type="text"]:focus {
  transform: scale(1.01);
}

input[type="button"] {
  padding: .5px 1em;
  display: inline;
  margin: 10px;
  flex-direction: row;
  transition: all .3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .25rem;
}

input[type="button"]:hover {
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
  background-color: #DD1c1a;
  color: white;
  cursor: pointer;
}

/*Modal*/
.modal-overlay {
  width: 110%;
  height: 100%;

  background-color: rgba(0, 0, 0, .9);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.modal {
  font-size: 100px;
  color: white;
}

#SalvarRank {
  width: 450px;
  height: 100px;
  background-color: #f0c808;
  color: #DD1c1a;
  font-weight: bold;
  font-size: xx-large;
  align-self: center;
}

#SalvarRank:hover {
  border-radius: 20em;
  width: 250px;
  border: #000 solid 2px;
  background-color: rebeccapurple;
}

#NomeUsuario {
  width: 500px;
}

.modalRank {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
}

.labelNomeUsuario {
  margin-top: 50px;
}

.modalRank h2 {
  border-radius: 20em;
  width: 450px;
  height: 100px;
  color: #f0c808;
  font-weight: bold;
  font-size: xx-large;
  align-self: center;
  text-align: center;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  align-self: center;
}

.modal {
  background: rgba(0, 0, 0, 0);
  padding: 2.4rem;
  position: relative;
  z-index: 1;
}

/*Main*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;

}

body {
  align-items: center;
  background: linear-gradient(180deg, #f0c808, #080808, red, #f0c808);
  background-size: 300% 300%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  animation: colors 5s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*teclado*/

.teclado {
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #DD1c1a 0%, #DD1c1a 100%);
  box-shadow: 6px 8px 0 6px rgb(99, 58, 58), 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  align-self: center;
  transition: 2s ease-in all;
}

.tecla,
h1 {
  font-size: small;
  text-align: center;
  font-family: 'Press Start 2P';
  color: rgb(8, 8, 8);
  text-shadow: #fff 0 0 4px,
    yellow 0 -5px 10px,
    orange 0 -15px 20px,
    red 0 -25px 50px;
}


.tecla_pom,
.tecla_clap,
.tecla_tim {
  order: 3
}

.tecla_puff,
.tecla_splash,
.tecla_toim {
  order: 2
}

.tecla_tic,
.tecla_tom,
.tecla_psh {
  order: 1
}

/*table*/

.Musicas thead tr th:first-child,
tfoot tr td:first-child {
  border-radius: 0.25rem .25rem .25rem 0.25rem;
}

table tbody tr td:first-child,
.Ranks thead tr th:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table tbody tr td:last-child,
.Ranks thead tr th:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead tr th:last-child {
  background: #222;
}

table thead th,
tfoot td {
  background: white;
  font-weight: bold;
  padding: .5rem 1rem;
}

table tbody td {
  background-color: white;
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  font-weight: bold;
  transition: cubic-bezier(12);
}

tfoot tr td,
.Ranks tr td {
  text-align: center;
}

table thead th,
tfoot td {
  color: rebeccapurple;
  text-shadow: 0px 3px 20px #f0c808;
  background-color: #f300df;
  animation: color-loop 10s infinite;
}

@keyframes color-loop {
  0% {
    background: #2CAB5B;
    color: #000;
  }

  25% {
    background: #FABC03;
  }

  50% {
    background: #ED4B40;
    color: rgb(255, 0, 212);
  }

  75% {
    background: #4286F3;
  }

  100% {
    background: #2CAB5B;
    color: rgb(255, 255, 255);
  }
}

table tbody td:hover {
  color: red;
  transform: translateY(1px);
  background-color: #f0c808;
  outline: none;
  font-weight: bold;
  box-shadow: 1px 1px 10px var(rgb(229, 255, 0));
}

.Ranks tbody td:last-child:hover {
  color: #f0c808;
}

table tfoot td:hover,
thead th:hover {
  background-color: #000 !important;
  color: white !important;
  cursor: pointer;
}

table tbody td:last-child {
  text-align: center;
  transition: cubic-bezier(12);
}

table tbody td:last-child:hover {
  background-color: red;
  transform: translateY(1px);
  outline: none;
  box-shadow: 1px 1px 10px red;
}

.Musicas {
  margin: 10px;
  color: #222;
  align-self: start;
  border-collapse: separate;
  border-spacing: 0 5px;
  transition: 2s ease-in-out all;
}

.Ranks {
  margin: 10px;
  color: #222;
  align-self: start;
  border-collapse: separate;
  border-spacing: 0 5px;
  transition: 2s ease-in-out all;
}

.Ranks tbody tr:nth-child(2) td {
  background-color: #a2a7a5;
}

.Ranks tbody tr:nth-child(1) td {
  background-color: #FFAA00;
}

.Ranks tbody tr:nth-child(3) td {
  background-color: #744209;
}

img {
  width: 10px;
}

.Criacao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tecla {
  background-color: #f0c808;
  border-radius: 30px;
  line-height: 120px;
  cursor: pointer;
  height: 120px;
  width: 120px;
  transition: all .5s ease 0s;
  transition-timing-function: ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tecla.ativa,
.tecla:active {
  background-color: #DD1c1a;
  border: 4px solid #DD1c1a;
  box-shadow: 3px 3px 0 var(#af303f) inset;
  color: rgb(250, 250, 250);
  outline: none;
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
}

.tecla:hover {
  transform: translateY(3px);
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(rgb(229, 255, 0));
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(#af303f) inset, 1px 1px 10px var(rgb(229, 255, 0));
}

/*GameMode*/

.teclaImg {
  position: fixed;
  border: .5px solid rgb(5, 222, 238);
  color: white;
  background-color: rgba(255, 0, 255, 1);
  height: 120px;
  width: 120px;
  border-radius: 30px;
  line-height: 120px;
  text-align: center;
  transform: translateY(-1500px);
  opacity: 1;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: column;
}

.teclaImg.gamefic {
  transform: translateY(-120px);
  transition: all 5s linear;
  opacity: 1;
}

.Musicas.gameMode {
  transform: translateY(-1000px);
}

.Ranks.gameMode {
  transform: translateY(-1000px);
}

.teclado.gameMode {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: column;
  transform: translateY(350px);
}

.tecla_pom.gameMode,
.tecla_clap.gameMode,
.tecla_tim.gameMode {
  order: 1
}

.tecla_puff.gameMode,
.tecla_splash.gameMode,
.tecla_toim.gameMode {
  order: 2
}

.tecla_tic.gameMode,
.tecla_tom.gameMode,
.tecla_psh.gameMode {
  order: 3
}

.tecla.act {
  background-color: rgb(250, 0, 0);
  outline: none;
  transition: none;
  box-shadow: 3px 3px 0 var(#af303f) inset;
  color: rgb(250, 250, 250);
  box-shadow: 3px 3px 0 var(#af303f) inset, 1px 1px 10px green;
  transform: translateY(1.5px);
}

.tecla.perfeito {
  background-color: blue;
  transform: scale(1.1) translateY(1.5px);
  box-shadow: 3px 3px 0 var(#af303f) inset;
  box-shadow: 1px 1px 10px var(rgb(229, 255, 0));
  text-shadow: #000000;
  color: rgb(250, 250, 250);
  outline: none;
}

.tecla.bom {
  background-color: rgb(43, 255, 0);
  transform: translateY(1.5px);
  box-shadow: 3px 3px 0 var(#af303f) inset;
  box-shadow: 1px 1px 10px var(rgb(229, 255, 0));
  text-shadow: #000000;
  color: rgb(250, 250, 250);
  outline: none;
}

.combo {
  align-items: center;
  background: linear-gradient(180deg, #f0c808, #35a33a, rgb(6, 3, 184), #04c8e2);
  background-size: 300% 300%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  animation: colors 5s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.comboTecla {
  background: linear-gradient(180deg, rgb(6, 3, 184), #04c8e2);
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(10px, 10px, 10px), scale(1.5);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }

  10% {
    transform: translate(-3px, -6px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#thunder {
  position: fixed;
  width: 500px;
  transform: scaleX(-1) rotate(180deg) translate(-100px, -825px);
  transition: linear 1s;
  object-fit: cover;
  opacity: 0;
}

#thunder.on {
  opacity: 1;
}