:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}
.tecla_pom,.tecla_clap,.tecla_tim{
  order: 3
}
.tecla_puff,.tecla_splash,.tecla_toim{
  order: 2
}
.tecla_tic,.tecla_tom,.tecla_psh{
  order: 1
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
  transition: all .3s ease;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

.Criacao{
  flex-direction: row;
}

#CriarMusica{
  padding: 5px;
  outline: none;
  border-radius: 10px;
}

input[type="button"]{
  padding: .5px 2em;  
  display: inline;
  margin: 10px;
  flex-direction: row;
  transition: all .3s ease;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="button"]:hover{
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
  background-color: #e93d50;
  color: white;
  cursor: pointer;
}