:root {
  --cinza: #aaa;
  --vermelha: #e93d50;
  --vermelha-escura: #af303f;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

main{
  display: flex;
  flex-direction: row;  
}

body {
  align-items: center;
  background: linear-gradient(45deg, #086788 0%,#07A0C3 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background: #222;
}

.TituloPrincipal{
  font-size: 4em;
  color: white;
}

.tecla,h1{
  font-size: small;
  text-align: center;
  font-family: 'Press Start 2P';
	color:rgb(8, 8, 8);
	text-shadow:	#fff 0 0 4px,
								yellow 0 -5px 10px,
								orange 0 -15px 20px,
								red 0 -25px 50px;
}

.teclado {
  background: linear-gradient(to bottom, #DD1c1a 0%,#DD1c1a 100%);
  box-shadow: 6px 8px 0 6px rgb(99, 58, 58), 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}
.tecla_pom,.tecla_clap,.tecla_tim{
  order: 3
}
.tecla_puff,.tecla_splash,.tecla_toim{
  order: 2
}
.tecla_tic,.tecla_tom,.tecla_psh{
  order: 1
}

.tecla {
  background-color: #f0c808;  
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  cursor: pointer;
  height: 120px;
  line-height: 120px;
  width: 120px;
  transition: all .3s ease;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: rgb(250, 250, 250);
  outline: none;
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
}

.tecla:hover{
  transform: translateY(3px);
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

input[type="button"]{
  padding: .5px 1em;  
  display: inline;
  margin: 10px;
  flex-direction: row;
  transition: all .3s ease;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

input[type="button"]:hover{
  box-shadow: none;
  transform: translateY(1.5px);
  text-shadow: #000000;
  background-color: #e93d50;
  color: white;
  cursor: pointer;
}

.Musicas{
  position: absolute;
  top: 30vh;
  left: 20vh;
}

.Musicas p{
  margin-top: 10px;
  color: wheat;
}

.Criacao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="text"]{
  width: 30vw;
  margin: 5px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

.Criacao div{
  flex-direction: row;
}

